[data-theme="musivault"] {
    color-scheme: dark;

    --color-base-100: #1a1b26;
    --color-base-200: #24283b;
    --color-base-300: #414868;
    --color-base-content: #c0caf5;

    --color-primary: #7aa2f7;
    --color-primary-content: #1a1b26;

    --color-secondary: #7dcfff;
    --color-secondary-content: #1a1b26;

    --color-accent: #bb9af7;
    --color-accent-content: #1a1b26;

    --color-neutral: #24283b;
    --color-neutral-content: #c0caf5;

    --color-info: #7dcfff;
    --color-info-content: #1a1b26;

    --color-success: #9ece6a;
    --color-success-content: #1a1b26;

    --color-warning: #e0af68;
    --color-warning-content: #1a1b26;

    --color-error: #f7768e;
    --color-error-content: #1a1b26;
}

html {
    scroll-behavior: smooth;
}
